body {
  background-color: #4A261E;
  color: hsla(0, 0%, 0%, 0.948);
  font-family:Helvetica;
  margin: 0;
  padding: 0;
  line-height: 1.6
}



.hero {
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: #000000;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
}

section {
  padding: 40px 10%;
  margin: 0 auto;
}



.about,
.reasons {
  background: #CFAF78;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.reasons ul {
  list-style: square;
  padding-left: 20px;
}

.gallery {
    text-align: center; 
    margin-top: 40px;
}

.img-flex {
    display: flex;             
    justify-content: center;   
    gap: 60px;                
    flex-wrap: nowrap;         
}

.img-card {
    flex: 0 0 auto;          
}

.img-card img {
    width: 550px;              
    height: auto;
    display: block;            
    border-radius: 8px;        
    transition: transform 0.3s; 
}

.img-card img:hover {
    transform: scale(1.05);
}

#hidden-content {
  display: none;
  background: #CFAF78;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  align-content: center
}

.hidden-img {
  width: 500px;
  border-radius: 10px;
  margin-top: 10px;
  align-content: center;
}

#toggle-btn {
  background: #CFAF78;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px;
  transition: 0.2s;
}

#toggle-btn:hover {
  background: #CFAF78;
}
