body {
  background-color: #4A261E;
  color: hsla(0, 0%, 0%, 0.948);
  font-family:Helvetica;
  margin: 0;
  padding: 0;
  line-height: 1.6
}



.hero {
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: #000000;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* SECTION CONTAINERS */
section {
  padding: 40px 10%;
  margin: 0 auto;
}



/* ABOUT TEXT */
.about,
.reasons {
  background: #CFAF78;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.reasons ul {
  list-style: square;
  padding-left: 20px;
}

.gallery .img-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery img {
  width: 30%;
  min-width: 250px;
  border-radius: 10px;
}

.hover-img:hover {
  transform: scale(1.08);
  box-shadow: 0 0 15px #4A261E;
  border: 2px solid #4A261E;
  transition: 0.3s;
}

/* HIDDEN CONTENT */
#hidden-content {
  display: none;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.hidden-img {
  width: 60%;
  border-radius: 10px;
  margin-top: 10px;
}

#toggle-btn {
  background: #CFAF78;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px;
  transition: 0.2s;
}

#toggle-btn:hover {
  background: #CFAF78;
}
