body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: rgb(107, 7, 7);
}
padding
h1 {
text-align: center;


}
p{


}
img{
height: 200px;    
}
    




